.axis path,
.axis line {
  fill: none;
  stroke: rgba(0,0,0,0.85);
  stroke-width: .5;
}



g.scatter circle {
    fill: red;
    opacity: 0.8;
    stroke: none;
}



path.line {
    fill: none;
}

.componentLine {
    opacity: 0.8;
    stroke-width: 1px;
    stroke: steelblue;
}


.hoverPoint {
    fill: black;
    opacity: 0.8;
    stroke-width: 0px;
}

.forecastLine {
    opacity: 0.8;
    stroke-width: 1px;
}

.forecastArea {
    opacity: 0.4;
    stroke: none;
}

.jan1 {
    stroke: #B4930D;
    fill: #B4930D;
}

.ytd {fill: #F93535; stroke: #F93535;}

text {stroke-width: 0px;}

.yLab {
    fill: #888;
}

.referenceLine {
    stroke-width: 1px;
    stroke: #777;
    stroke-dasharray: 10,10;
}

.rawDataLine {
    stroke-width: 1px;
    stroke: rgba(194, 194, 194, 1);
}


